<footer style="
position: fixed;
bottom: 0;
background-color: #FFC900;
width: 100%;
text-align: center;
padding: 2px 0;
margin: 2rem 0 0 0;">
  Copyright 2022 by KartaHuang
</footer>
</body>
</html>
