<%- include("header") -%>
<%- include("navbar") -%>
<div class="" style="margin-bottom: 22rem;">
  <h1 class="intro" style="text-align:center; margin: 20px 0;">Welcome</h1>
  <p class="intro" style="text-align:center;">this is a book Directory and you can record what book you have. Moreover, you can
  set a book mark for specific book and give the book some simple description.</p>
</div>
  <%- include("footer") -%>
