.nav-item a:hover {
  background-color: #FFF89A;
  color: black;
}
.intro{
  position: relative;
  top: 5rem;
}
.fa-plus-circle{
  font-size: 3rem;
}
.above{
  position: absolute;
  z-index: 2;
  top:0;
  right: 0;
}
.card-columns{
  margin: 5rem 0;
}
.card{
  background-color: #DE9352;
}
.fa-trash-alt{
  position: absolute;
  right: 2rem;
  padding: 0.62rem;
}
.card-control{
  display: inline;
}
.bookbackground{
  background-color: #DB9648;
}
